
@{
    ViewBag.Title = "Index";

}
<head>
 
    <script type="text/javascript">
  
    </script>
</head>


<style>
    .dx-tooltip-wrapper.dx-overlay-content.dx-popup-content {
        padding: 14px;
    }

    .movie-tooltip {
       /* height: 333px*/
    }
    .movie-info {
        width: 100%;
        height: 100%;
        display:flex;
        flex-direction:column;
        align-items:flex-start;
    }

    .movie-title {
        font-weight: bold;
        margin: 5px;
        font-size: 14px;
        margin-top: 10px;
    }

    .showtime-preview {
      color:white;
    }

</style>

<div class="demo-container">
    @*<div class="long-title"><h3>Transport Log</h3></div>*@
    <div id="scheduler"></div>
</div>


@section Scripts{
    <script src="~/Scripts/home.js"></script>
}