@{
    ViewBag.Title = "Index";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <script type="text/javascript"></script>

   <style>
        .dx-tooltip-wrapper.dx-overlay-content.dx-popup-content {
            padding: 14px;
        }

        .movie-info {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .movie-title {
            font-weight: bold;
            margin: 5px;
            font-size: 14px;
            margin-top: 10px;
        }

        .showtime-preview {
            color: white;
        }
    </style>
</head>

 <div id="scheduler"></div>


@section Scripts{
    <script src="~/Scripts/home.js"></script>
}