body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    padding:0;
    margin:0;
    box-sizing: border-box;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 777px;
}

.dx-tooltip-wrapper.dx-overlay-content.dx-popup-content {
    padding: 14px;
}

.showtime-preview > div:first-child {
    font-size: 12px;
    white-space: normal;
}

.showtime-preview > div:not(:first-child) {
    font-size: 11px;
    white-space: normal;
}

.movie-tooltip.movie-info {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    text-align: left;
}

.movie-tooltip img {
    height: 80px;
    margin-bottom: 10px;
}

.movie-tooltip.movie-title {
    font-size: 1.5em;
    line-height: 40px;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}


  /* ///////////////// CUSTOM LOGIN STYLE ///////////////////*/

.login-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #292929, #26292b, #1f292a, #1d2924, #23271b);
}

.form-wrapper {
    width: 60%;
    background-color:;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-size {
    height: 70px;
}

.title-color {
    font-family: 'Courgette', cursive;
    color: white;
    font-size: 3rem;
}

.section-form {
    width: 100%;
}

.form-grab {
    margin-left: 100px;
}

.ttile {
    width: 100%;
    background-color:;
    text-align: center;
    padding: 45px;
}

.text-inp {
    font-size: 1.08rem;
    outline: none;
    font-family: 'PT Mono', monospace;
}

    .text-inp::placeholder {
    }

.fosi {
    font-size: 1.33rem;
}

/* /////////////// END CUSTOM STYLE //////////////*/